
<!-- <h1  #mainTitle></h1>
<hinv-rooms #main ></hinv-rooms> -->
<!-- 
<div [ngSwitch]="role">
    <div *ngSwitchCase="'User'">
        Welcome User
    </div>
    <div *ngSwitchCase="'admin'">
        
    </div>
    <div *ngSwitchDefault>
        <p>You are Not Authorize to acces the page</p>
    </div>


</div> -->

<!-- <a [routerLink]="'header'">Go to header</a>
<a [routerLink]="'footer'">Go to footer</a>
<a [routerLink]="''">Go to Rooms</a>
<router-outlet></router-outlet> -->
<!-- Invalid because there are two `start` position sidenavs. -->
<!-- <hinv-header (toggleSideBar)="toggle($event)">    
</hinv-header>
<mat-sidenav-container>
    <mat-sidenav [(opened)]="opened">                
                <a [routerLink]="'rooms'">helloe</a>                    
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
    
  </mat-sidenav-container>
   -->
   
   <hinv-app-nav></hinv-app-nav>
